<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodmann">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Special"></activity>
        <activity android:name=".notifications" />
        <activity android:name=".Searched" />
        <activity android:name=".Vendor_Sign" />
        <activity android:name=".Your_Food" />
        <activity android:name=".Listyourfood" />
        <activity android:name=".database" />
        <activity android:name=".fooddata" />
        <activity android:name=".categorydata" />
        <activity android:name=".requestData" />
        <activity android:name=".Admin" />
        <activity android:name=".Welcome" />
        <activity android:name=".Home1" />
        <activity android:name=".Fooddetail" />
        <activity android:name=".Foodlist" />
        <activity android:name=".Cart" />
        <activity android:name=".Signup" />
        <activity android:name=".Signin" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>